<% include ./partials/header.ejs %>

<h1>U wanted to, but God prevented you to pay for the dildos</h1>
<p>GOD LOVES YOU</p>
<small>U will never get your dildos lol</small>
<h1>JESUS OUR LORD AND SAVIOR</h1>

<% include ./partials/footer.ejs %>