<% include ./partials/header.ejs %>
<h1>You just paid for dildos</h1>
<p>THANK U FOR THE PAYMENT</p>
<small>U will get your dildos soon. Veeery soon my princess.</small>
<% include ./partials/footer.ejs %>